<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Worker Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

          <input id="inputName" class="form-control" [(ngModel)]="name"  name="workerName">
          <input id="inputSurname" class="form-control" [(ngModel)]="surname"  name="workerSurname">

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close(modal)">Save</button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-warning" (click)="open(content)">Edit</button>
