
  <form class="row mb-4 needs-validation" [formGroup]="addWorkerForm" novalidate>
    <div class="col-12">
      <h5>Add worker</h5>
    </div>
    <div class="col-6">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="name"
      >
      <div class="alert alert-danger"
           *ngIf="addWorkerForm.controls['name'].invalid && addWorkerForm.controls['name'].touched">
        Enter name
      </div>
    </div>
    <div class="col-6">
      <input
        type="text"
        formControlName="surname"
        class="form-control"
        placeholder="surname"
      >
      <div class="alert alert-danger"
           *ngIf="addWorkerForm.controls['surname'].invalid && addWorkerForm.controls['surname'].touched">
        Enter surname
      </div>
    </div>
    <div class="col-6">
      <select class="form-control mt-2" formControlName="type">
        <option [ngValue]="myWorkerType.programmer">Programmer</option>
        <option [ngValue]="myWorkerType.designer">Designer</option>
        <option [ngValue]="myWorkerType.copywriter">Copywriter</option>
        <option [ngValue]="myWorkerType.manager">Manager</option>
      </select>
    </div>
    <div class="col-6">
      <input
        type="tel"
        formControlName="phone"
        class="form-control mt-2"
        placeholder="phone"
        [textMask]="{mask: mask}"
      >
      <div class="alert alert-danger"
           *ngIf="addWorkerForm.controls['phone'].invalid && addWorkerForm.controls['phone'].touched">
        Enter phone
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="addWorkerForm.invalid" (click)="onAddWorker()">Add</button>
    </div>
  </form>
