<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>

  <app-addform-worker (addWorker)=(onAddWorker($event))></app-addform-worker>

  <app-table-workers
    [title]="'Programmers'"
    [workers]="getByType(myWorkerType.programmer)"
    (deleteWorker)="onDeleteWorker($event)"
    (editWorker)="onEditWorker($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Designers'"
    [workers]="getByType(myWorkerType.designer)"
    (deleteWorker)="onDeleteWorker($event)"
    (editWorker)="onEditWorker($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Copywriters'"
    [workers]="getByType(myWorkerType.copywriter)"
    (deleteWorker)="onDeleteWorker($event)"
    (editWorker)="onEditWorker($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Managers'"
    [workers]="getByType(myWorkerType.manager)"
    (deleteWorker)="onDeleteWorker($event)"
    (editWorker)="onEditWorker($event)"
  ></app-table-workers>
</div>
